body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
}

.popup-grid {
    display: grid;
    row-gap: 0.5rem;
}

.popup-button {
    text-align: center;
    background-color: #f59208ff;
    color: #fff;
    border-radius: 5px;
    padding: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.popup-button:hover {
    background-color: #f8a026ff;
}